@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

h4,
p {
  line-height: 1.8em;
}

p {
  font-size: 18px;
  margin: 0;
}

.hero-container {
  padding: 80px 100px;
  box-sizing: border-box;
  color: $color-white;
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
}

.hero-title {
  font-size: 3.4em;
  margin: 0;
  margin-bottom: 20px;
}

.hero-message {
  font-weight: normal;
}

.solution-info-container {
  padding: 0 130px;
}

.solution-image-container {
  padding: 130px 0;
}

.solution-image {
  max-height: 400px;
  box-shadow: 0 10px 20px $color-transparent-alt;
  border-radius: $border-radius-large;
}

.solution-container {
  background: $color-white;
}

.solution-container:nth-child(odd) {

  .solution-image {
    margin: auto;
    margin-right: 0;
  }

  .solution-info-container {
    order: 2;
  }

}

.solution-container:nth-child(even) {

  .solution-image {
    margin: auto;
    margin-left: 0;
  }

}

.learn-more {
  padding: 10px;
  padding-left: 0;
  margin-right: auto;
}

.learn-more-arrow {
  height: 14px;
  width: 18px;
  margin-left: 10px;
  opacity: 0;
  transform: translateX(-10px);
  transition: .4s cubic-bezier(0, 0, 0, 1);
}

.learn-more:hover {
  text-decoration: none;

  .learn-more-arrow {
    transform: translateX(0);
    opacity: 1;
  }

}

.solution-no-image {

  .solution-info-container {
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding: 100px 0;
  }

  .learn-more {
    margin: auto;

    .learn-more-arrow {
      display: none;
    }

  }

}

@media screen and (max-width: $screen-lg-min) {

  .solution-container {
    flex-wrap: wrap;
  }

  .solution-container:nth-child(even),
  .solution-container:nth-child(odd) {

    .solution-image {
      margin: auto;
      margin-right: auto;
      margin-left: auto;
    }

  }

  .solution-container:nth-child(odd) {

    .solution-info-container {
      order: 0;
    }

  }

  .solution-info-container {
    padding: 80px;
  }

  .solution-image-container {
    padding: 0;
  }

  .solution-no-image {

    .solution-info-container {
      padding: 20px;
      padding-top: 80px;
    }

  }

}

@media screen and (max-width: $screen-md-min) {

  .solution-info-container {
    padding: 40px 20px;
  }

  .hero-container {
    padding: 80px 40px;
  }

}
