---
title: Demo - Mastering code review with GitLab
author: Emily von Hoffmann
author_twitter: emvonhoffmann
categories: concepts
image_title: '/images/code.png'
description: Code review shouldn't be a burden, it should make your team better and faster so you can keep delivering new features on time.  
cta_button_text: 'Watch our <strong>Code Review</strong> webcast on demand!'
cta_button_link: 'http://get.gitlab.com/code-review-webinar/'
---
Watch Discussion Lead Sean McGivern demonstrate our typical code review process.

<!-- more -->

Whatever your team’s workflow, we expect you face immense pressure to quickly ship new features. In our [2016 Developer Survey](https://page.gitlab.com/2016-developer-survey_2016-developer-survey.html), 81 percent of developers admit to releasing code before it’s ready, citing the pressure of tight or unrealistic deadlines as the reason they release prematurely. To combat this pressure, engineering teams need a process they can repeat every time, so there are no steps skipped during a time crunch. Our code review tools were built with the aim of enhancing your review process, taking you from idea to production while setting new personal records for code delivery speed and quality.  

## Demo

<iframe src="https://drive.google.com/file/d/0BwXthOgZCRQQWXVIM3dwZThXd2M/preview" width="640" height="480"></iframe>

## Typical flow

Excellent code depends on rigorous review. At GitLab, every change is reviewed using this flow:

* A developer makes a change in their feature branch and tests it. When they’re happy they push, and make a merge request.
* The developer assigns the merge request to a reviewer, who looks at it and makes line and design level comments as appropriate. When the reviewer is finished, they assign it back to the author.
* The author addresses the comments. This stage can go around for a while, but once both are happy, one assigns to a final reviewer who can merge.
* The final reviewer follows the same process again. The author again addresses any comments, either by changing the code or by responding with their own comments.
* Once the final reviewer is happy and the build is green, they will merge.

To find out more about the importance of code quality, considerations for teams of different sizes and stages, and details on how we develop at GitLab while using GitLab, [watch](http://get.gitlab.com/code-review-webinar/) our webcast, "Code Review: A Business Imperative" on demand.

Interested in GitLab Enterprise Edition? Check out the [features exclusive to
EE](/gitlab-ee/).
