.tocs-sidebar {
  display: none;
}

.handbook-wrapper .container li {
  margin-top: 20px;
}

.handbook-wrapper .container li:last-child {
  margin-bottom: 20px;
}

@media (min-width: $screen-md-min) {
  .handbook-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    .container {
      float: left;
      max-width: 70%;
    }
  }

  .tocs-sidebar {
    position: sticky;
    display: block;
    float: right;
    width: 30%;
    max-width: 30%;
    max-height: 100vh;
    top: 35px;
    padding: 0 20px;
    overflow-y: scroll;

    > h4 {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-gray-extra-light;
    }

    > ul {
      padding-left: 20px;
      padding-bottom: 50px;
    }
  }
}

.handbook-md-title {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -1em;
    top: 0;
    width: 1em;
    height: 1em;
  }

  &:hover {
    .handbook-md-anchor {
      display: block;
    }
  }
}

.handbook-md-anchor {
  display: none;
  position: absolute;
  left: -16px;
  top: 50%;
  font-size: 14px;
  transform: translate(0, -50%);
}
